<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li>
        <a href="http://iotmanager.ru" target="_blank"><span class="glyphicon glyphicon-info-sign"></span> IoT Manager site</a>
      </li>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href="https://play.google.com/store/apps/details?id=ru.esp8266.iotmanager" target="_blank"><span class="glyphicon glyphicon-download"></span> IoT Manager on Google Play</a>
      </li>
    </ul>
  </div>
</nav>
